.App-body {
  padding: 2rem;
  font-size: 1rem;
  
}
.App-header {
  display: flex;
  align-items: center;
  color: #e1003c;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.App-body form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.App-body label {
  font-weight: bold;
}

.App-body input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.App-body button {
  padding: 0.5rem 1rem;
  background-color: #e1003c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.App-body button:hover {
  background-color: #c00032;
}
.App-footer {
  border-top: 3px solid var(--main-color);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-style: italic;
}